/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2 {
    color: #34495e;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Navigation Bar */
nav ul {
    background-color: #2c3e50;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    color: #f39c12;
    background-color: #34495e;
}

/* Sections */
#about-me, #location, #resources {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.about-container, .location-container {
    display: flex;
    align-items: center;
}

.about-container img, .location-container img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px;
}
