/* filtered-temples-large.css */

/* Adjust grid for larger screens */
@media screen and (min-width: 768px) {
    .temple-images {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    }

    #nav-menu ul {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }
}
